<head>
<%= stylesheet_link_tag "style" %>
</head>
<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Herramienta</a></li>
          <li class="breadcrumb-item active">Caracteristicas Herramienta</li>
        </ol>



<h4 class="text">Caracteristicas Herramienta <%= @tool.id %> </h4>
</div>
 <div class="probar">


<%= render @tool %>

<div>
<%if can? :edit, Tool%>
  <%= link_to "Editar herramienta", edit_tool_path(@tool),  class: "btn btn-success"%> <%end%>  |

  <%= link_to "Regresar", tools_path ,  class: "btn btn-success"%>
    <%if can? :destroy, Tool%>
  <%= button_to "Eliminar herramienta", @tool, method: :delete, data: { confirm: "Esta seguro de eliminar"},  class: "btn btn-danger" %>
  <%end%>
</div>
