<head>
<%= stylesheet_link_tag "style" %>
</head>


 <div class="probar">
 <%= form_with(model: reporte) do |form| %>
  <% if reporte.errors.any? %>
    <div style="color: red">
     

      <ul>
        <% reporte.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
   <div class="form-group row">
    <%= form.label :fecha ,class:'col-sm-2' %>
    <div class="col-sm-4">
    <%= form.date_field :fecha ,  class:'form-control' %>
  </div>
  </div>

   <div class="form-group row">
    <%= form.label :observaciones,  class:'col-sm-2'  %>
    <div class="col-sm-4">
    <%= form.text_area :observaciones,  class:'form-control'  %>
  </div>
  </div>
  <br>

   <div class="form-group row">
    <%= form.label :tipo_problema,  class:'col-sm-2'  %>
    <div class="col-sm-4">
    <%= form.select :tipo_problema, ["No hay internet", "Instalacion de windows ","Licencia de Office", "Acceso no autorizado pagina web", "Virus en la maquina", "Aplicacion de antivirus"], class:'form-control'  %>
  </div>
  </div>

   <div class="form-group row">
    <%= form.label :maintenances_id,  class:'col-sm-2'  %>
    <div class="col-sm-4">
    <%= form.collection_select(:maintenances_id, Maintenance.all{ :equipment_id}, :id, :equipment_id, class:'form-control', prompt:"Seleccione su mantenimiento")%>
  </div>
  </div>

  <div>
  <button class="btn btn-info" <%= form.submit %> Guardar </button>
  <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
  </div>
<% end %>
