<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Departamentos</a></li>
          <li class="breadcrumb-item active">Caracteristicas del departamento</li>
        </ol>
                  <h4 class="text">Departamento <%= @departament.id%> </h4>
</div>
 <div class="probar">
<p style="color: green"><%= notice %></p>

<%= render @departament %>

<div>
  <%= link_to "Editar departamento", edit_departament_path(@departament), class: "btn btn-success btn-xs round"  %> |
  <%= link_to "Regresar a departamentos", departaments_path, class: "btn btn-success btn-xs round"  %> |

  <%= link_to "Eliminar departamento", @departament, method: :delete, data: { confirm: "Esta seguro de eliminar"},  class: "btn btn-danger" %>
</div>
