<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Area</a></li>
          <li class="breadcrumb-item active">Caracteristicas area</li>
        </ol>
                  <h4 class="text">Area  <%= @zone.id%> </h4>
</div>
 <div class="probar">
<p style="color: green"><%= notice %></p>

<strong>Nombre:</strong>
    <%= @zone.nombre %>
  </p>
   <strong>Departamento:</strong>
    <%= @zone.departament.nombre %>
  </p>

<div>
  <%= link_to "Editar area", edit_zone_path(@zone),  class: "btn btn-success" %> |
  <%= link_to "Lista", zones_path,  class: "btn btn-success" %>

  <%= link_to "Eliminar area", @zone, method: :delete , data: { confirm: "Esta seguro de eliminar"},  class: "btn btn-danger"%>
</div>
