<head>
<%= stylesheet_link_tag "style" %>
</head>




<%= form_with(model: brand) do |form| %>
  <% if brand.errors.any? %>
    <div style="color: red">
      
      <ul>
        <% brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <br>
  <div class="form-group row">
    <%= form.label :nombre,"Nombre:", class:'col-sm-2' %>
    <div class="col-sm-4">
    <%= form.text_field :nombre, class:'form-control' , id: :nombre %>
  </div>
  </div>
  <div>
  <br>
  <br>
  <button class="btn btn-info" <%= form.submit %> Guardar </button>
  <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
  </div>
<% end %>
